<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Project.Properties.Settings.ConnectionString" 
         connectionString="Data Source=OMAR\SQLEXPRESS;Initial Catalog=pharmacies;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>